# I don't know why I did this, just deal with it.
ErrorDocument 404 index.php
ErrorDocument 403 index.php
ErrorDocument 500 index.php

# Set DirectoryIndex properly
DirectoryIndex index.php

# If mod_headers is available
<IfModule mod_headers.c>
	# Disable Cookies
	Header unset Cookie
	Header unset Set-Cookie
	# Allow CORS requests from anywhere because fuck javascript
	Header set Access-Control-Allow-Origin "*"
</IfModule>
